<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334355107890-hsc1obpim4br12qdvj2ncm1ig4bg4cve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334355107890-hsc1obpim4br12qdvj2ncm1ig4bg4cve</string>
	<key>API_KEY</key>
	<string>AIzaSyAgwW8zetP8GlLil4BxX1tTpxp8EeP0G3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>334355107890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jorge.listmymemory</string>
	<key>PROJECT_ID</key>
	<string>listmymemory</string>
	<key>STORAGE_BUCKET</key>
	<string>listmymemory.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334355107890:ios:55a063ad056eea0a57ac2b</string>
	<key>DATABASE_URL</key>
	<string>https://listmymemory-default-rtdb.firebaseio.com</string>
</dict>
</plist>