<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
	</array>
	<key>Scene Configuration</key>
	<dict/>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Bold.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>InterRegular.ttf</string>
		<string>InterSemibold.ttf</string>
		<string>NeoSansStd-Bold.otf</string>
		<string>NeoSansStd-Medium.otf</string>
		<string>NeoSansStd-Regular.otf</string>
	</array>
</dict>
</plist>
